.cat
{
    margin: 10px;
    border: none;
    padding: 40px 50px 5px 35px;
    background-color: rgba(126, 144, 254,0.1);
}
.jobsAvailable
{
    color:gray;
}
.logo
{
   padding: 10px;
   background-color: rgba(126, 144, 254,0.2);
   border-radius: 5px;
}
@media screen and (width < 700px)
{
.cat
{
    margin: 15px 50px;
    border: none;
    padding: 40px 50px 5px 35px;
    background-color: rgba(126, 144, 254,0.1);
    text-align: center;
}
.jobsAvailable
{
    color:gray;
}
.logo
{
   padding: 10px;
   background-color: rgba(126, 144, 254,0.2);
   border-radius: 5px;
}
}